<!DOCTYPE html>
<html>
<head>

  <title>Codeblue</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
<div class="navbar navbar-inverse navbar-static-top">
 <div class="navbar-header"><a class="navbar-brand" href="#">code {blue}</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Sign In</a></li>
        <li><a href="#">View Courses</a></li>
      </ul>
      <div class="navbar-right">
      <p class="navbar-text">Let's build something</p>
      </div>
    </div>
</div>


<%= yield %>

</body>
</html>

<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
